library_default.dtd

<!ELEMENT isbn (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT author (firstname, lastname)>
<!ELEMENT book (isbn, title, author+, publisher, edition)>
<!ATTLIST book added_at CDATA #IMPLIED>
<!ELEMENT library (book*)>
<!ATTLIST library xmlns CDATA #FIXED "http://khi.be/ns/library">